@import (reference) "../../less/variables.less";

.spell-item {
    // background: @color-light;
    border: 1px solid @color-light;
}

.list-bar {
    // background: @color-main;
    color: @color-text;
    padding: 10px;
    justify-content: flex-start;
    overflow: hidden;
    & > div {
        padding: 0 10px;
        &:not(:last-child) {
            border-right: 1px solid @color-dark;
        }
        &:nth-child(1):not(.selected) {
            width: 80px;
        }
        &:nth-child(2) {
            width: 240px;
        }
        &:nth-child(3) {
            width: ~"calc(100% - 320px)";
        }
    }
    &:hover {
        cursor: pointer;
    }
}
.description {
    background: @color-light;
    margin: -5px;
    padding: 5px;
}
.selected {
    font-size: 28px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: default;
    & i:hover {
        color: @color-dark;
    }
}
.expanded-text {
    padding: 0 20px 10px;
    & > * {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
i {
    cursor: pointer;
}
.collapse {
    padding: 3px;
    width: 100%;
    &:hover {
        cursor: pointer;
        background: @color-light;
    }
}