<div class="spell-item">
  <div class="list-bar flex-row" (click)="toggleSpellDescription()">
    <div class="flex-0" *ngIf="!spellDescriptionIsShown">
      <strong>{{ spell.level | levelText }}</strong>
    </div>
    <div [class.selected]="spellDescriptionIsShown">
      <strong>{{ spell.name }}</strong>
      <div *ngIf="spellDescriptionIsShown">
        <i class="fa fa-plus-square fa-lg" title="Add this spell to your saved spells" (click)="addSpellToSaved($event)"></i>
      </div>
    </div>
  </div>
  <div *ngIf="spellDescriptionIsShown" class="expanded-text">
    <div>
      <strong>{{ spell.level === 0 ? spell.school + ' ' + (spell.level | levelText) : (spell.level | levelText) + ' ' + spell.school }}</strong>
    </div>
    <div *ngIf="spell.range" class="flex-1">
      <strong>Range:</strong> {{ spell.range }}
    </div>
    <div *ngIf="spell.castingTime">
      <strong>Casting time:</strong> {{ spell.castingTime }}
    </div>
    <div *ngIf="spell.duration">
      <strong>Duration:</strong> {{ spell.duration }}
    </div>
    <div *ngIf="spell.concentration">
      <strong>Concentration:</strong> {{ spell.concentration }}
    </div>
    <div *ngIf="spell.components">
      <strong>Components:</strong> {{ spell.components }}
    </div>
    <div *ngIf="spell.material">
      <strong>Material:</strong> {{ spell.material }}
    </div>
    <div *ngIf="spell.ritual">
      <strong>Ritual:</strong> {{ spell.ritual }}
    </div>
    <div class="description">
      <strong>Description:</strong>
      <div *ngIf="spell.description" [innerHTML]="spell.description | safeHtml"></div>
      <div *ngIf="spell.higherLevel" [innerHTML]="spell.higherLevel | safeHtml"></div>
    </div>
    <div *ngIf="spell.page">
      <strong>Source:</strong> {{ spell.page }}
    </div>
    <div class="flex-row-fluid flex-align">
      <strong>Classes:</strong>
      <div *ngFor="let className of spell.class" class="tag-item-main"> {{ className }}</div>
    </div>
    <div title="collapse" class="flex-row flex-align flex-center collapse" (click)="hideSpellDescription()">
        <i class="fa fa-angle-double-up"></i>
        <i class="fa fa-angle-double-up"></i>
        <i class="fa fa-angle-double-up"></i>
    </div>
  </div>
</div>