<div class="spell-item">
  <div class="list-bar flex-row" (click)="toggleSpellDescription()">
    <div class="flex-0">
      {{ spell.level | levelText }}
    </div>
    <div class="">
      {{ spell.name }}
    </div>
    <div *ngIf="spell.description" class="" [class.truncate]="!spellDescriptionIsShown">
      <div [innerHTML]="spell.description | safeHtml"></div>
    </div>
    <!--     
      <div *ngIf="spell.range" class="flex-1">
        Range: {{ spell.range }}
      </div>
    <div *ngIf="spell.duration" class="flex-1">
      Duration: {{ spell.duration }}
    </div>
    <div *ngIf="spell.concentration" class="flex-1">
      Concentration: {{ spell.concentration }} 
    </div>
  -->
  </div>
  <div *ngIf="spellDescriptionIsShown" class="expanded-text">
    <div *ngIf="spell.higherLevel" [innerHTML]="spell.higherLevel | safeHtml">

    </div>
  </div>
  <!-- 
    <div *ngIf="spell.castingTime" class="flex-1">
      {{ spell.castingTime }}
    </div>
   -->
</div>