/* You can add global styles to this file, and also import other style files */
@import (reference) "./variables.less";
@import "font-awesome/fontawesome.less";
@import "font-awesome/fa-solid.less";

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.flex-row-fluid {
    display: flex;
    flex-flow: row wrap;
    margin: -5px;
    & > * {
        margin: 5px;
    }
}

.flex-0 {
    flex-grow: 0;
}

.flex-1 {
    flex-grow: 1;
}

.flex-align {
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.tag-item-main {
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: @color-main;
    color: @color-light;
}

.de-emphasize {
    color: @color-detail;
}