

<div (clickOutside)="hideFilters()">
  <div class="filter-dashbar" (click)="toggleFilterView()">
    <span class="filter-section">{{ filtersAreShown ? 'Hide Filters' : 'Show Filters' }}</span>
  </div>
  <div *ngIf="filtersAreShown" class="filter-contents">
    <span class="filter-section">Add Filters:</span>
    <div class="flex-column">
      <div *ngFor="let filterGroup of filterGroups" class="flex-row-fluid">
        <div>
          <!-- <app-select-tag [displayItem]="buildDisplayItem(filterGroup)" [deselector]="sortDeselector" (tagClicked)="toggleFilter($event)"></app-select-tag> -->
        </div>
        <div *ngFor="let filter of filterGroup" class="tag-item">
          <app-select-tag [displayItem]="filter" [deselector]="filterDeselector" (tagClicked)="toggleFilter($event)"></app-select-tag>
        </div>
      </div>
    </div>
  </div>
</div>

